In [1]:
from joblib import Parallel, delayed
from data import *

In [2]:
data_temp = RawData()

In [3]:
data_market = data_temp.fetch_data(n_job=4)

In [4]:
data_basic_processed = data_temp.basic_process_data(n_job=4)

In [5]:
data_timestamp = data_temp.generate_predict_timestamp(n_job=4)

In [5]:
data_basic_processed[0]

,datetime,last_price,bid_price_1,bid_volume_1,ask_price_1,ask_volume_1,mid_price,delta_volume,delta_oi,BO,BC,LO,SC,LE,SO,LC,SE
0,2021-01-18 09:03:07.000,4368.0,4368.0,67.0,4369.0,167.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2021-01-18 09:03:07.500,4369.0,4368.0,65.0,4369.0,87.0,NaN,180.0,77.0,0.0,0.0,77.0,0.0,0.0,0.0,0.0,0.0
2,2021-01-18 09:03:08.000,4369.0,4368.0,59.0,4369.0,99.0,NaN,64.0,29.0,0.0,0.0,29.0,0.0,0.0,0.0,0.0,0.0
3,2021-01-18 09:03:08.500,4368.0,4367.0,579.0,4368.0,155.0,NaN,116.0,82.0,0.0,0.0,82.0,0.0,0.0,0.0,0.0,0.0
4,2021-01-18 09:03:09.000,4368.0,4367.0,482.0,4368.0,186.0,NaN,40.0,17.0,0.0,0.0,17.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25078,2021-01-18 14:59:58.500,4391.0,4392.0,1.0,4393.0,125.0,NaN,61.0,-16.0,0.0,0.0,0.0,0.0,0.0,0.0,-16.0,0.0
25079,2021-01-18 14:59:59.000,4392.0,4392.0,66.0,4393.0,210.0,NaN,20.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
25080,2021-01-18 14:59:59.500,4392.0,4392.0,42.0,4393.0,213.0,NaN,43.0,-3.0,0.0,0.0,0.0,0.0,0.0,0.0,-3.0,0.0
25081,2021-01-18 15:00:00.500,4392.0,4392.0,42.0,4393.0,213.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25082,2021-01-18 15:29:54.000,4392.0,4392.0,42.0,4393.0,213.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0